# Client-Side Authorization Settings
# The unique identifier for the primary administrative user.
# MUST match the SUPER_ADMIN_ID defined in the server configuration.
VITE_SUPER_ADMIN_ID=

# The name of the group that grants administrative privileges.
# MUST match the SUPER_ADMIN_GROUP_NAME defined in the server configuration.
VITE_SUPER_ADMIN_GROUP_NAME=
