# Dependencies
node_modules/
package-lock.json

# Environment variables & secrets
# Ignore all real environment files (.env, .env.nonprod, .env.preprod, .env.prod, etc.)
.env
.env.*
.env*.local

# Allow only template example files to be pushed to Git
!.env*.example
!.env.*.example

# Build outputs & caches
dist/
build/
*.local
*.log
.DS_Store

# Database seed files
server/seed.ts
server/src/scripts/seed.ts
seed.ts

# Deployment local overrides
k8s/*.local.yaml
