# הגדרות שרת
PORT=
MONGO_URI=

# הגדרות SSO
SSO_ISSUER_URL=
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_REDIRECT_URI=

# הגדרת שדה הזיהוי: 'email' (לפיתוח/בית) או 'username' (לארגון)
SSO_IDENTIFIER_FIELD=
# השם המדויק של יוזר הניהול כפי שהוא מוגדר ב-Active Directory הארגוני
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_EMAIL=